.list-title {
  margin-bottom: 20px;
}

.card{
  margin-bottom: 15px;
}

 #input-description,
 #input-title {
  margin-bottom: 15px;
}

.card-buttons-group {
  margin-top: 15px;
}

.card-description {
  font-style: italic;
}
